@{
    double dGananciaLocal = (double)ViewBag.dTotalGananciaLocal;
    double dTotalGananciaExtranjero = (double)ViewBag.dTotalGananciaExtranjero;
}

<div class="row">
    <div class="col-12">
        <label>Total ganancia local</label>
        <b>@dGananciaLocal</b><br />
        <label>Total ganancia extranjero</label>
        <b>@dTotalGananciaExtranjero</b><br />
    </div>
</div>